<div class="container">
    <header class="d-flex flex-wrap border-bottom align-items-center justify-content-center justify-content-md-between py-3 mb-4 " style="margin-bottom: 0!important">
            <a class="navbar-brand" href="#">
            <img src="./assets/img/Logo_Ediberto_Coronel.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
            </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="#acerca" class="nav-link px-2 link-dark">Presentación</a></li>
            <li><a href="#experiencia" class="nav-link px-2 link-dark">Experiencia</a></li>
            <li><a href="#educacion" class="nav-link px-2 link-dark">Educación</a></li>
            <li><a href="#tecnologias" class="nav-link px-2 link-dark">Tecnologias</a></li>
            <li><a href="#proyectos" class="nav-link px-2 link-dark">Proyectos</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-info me-2">Login</button>
            <button type="button" class="btn btn-info">Logout</button>
        </div>
    </header>
</div>
