<!-- Inicio Educacion Area -->
<div class="container px-4 py-5" id="educacion">
    <h2 class="pb-2 border-bottom">Educacion</h2>
    <div class="row g-4 py-4 cols-1 cols-lg-2">
        <div class="col-2 d-flex align-items-start">
            <div>
            <a href="https://www.ispc.edu.ar/" target="_blank"><img src="./assets/img/logo2_ISPC.png" alt="" class="img-fluid rounded-3" style="width: 100%; height: 100%;"></a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
            <h3 class="fs-2">ISPC - Instituto Superior Politecnico de Cordoba</h3>
            <h5>Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales</h5>
            </div>
        </div>
        <div class="col-2 d-flex align-items-start feature">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-check"><use xlink:href="#check"/></svg></button>
            </div>
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-x"><use xlink:href="#x"/></svg></button>
            </div>
        </div>
    </div>
    <div class="row g-4 py-4 cols-1 cols-lg-2">
        <div class="col-2 d-flex align-items-start">
            <div>
            <img src="./assets/img/logo-mby.jpg" alt="" class="img-fluid rounded-3" style="width: 100%; height: 100%;">
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
            <h3 class="fs-2">Liceo Mario Briceño Iragorry</h3>
            <h5>Bachiller en Ciencias</h5>
            </div>
        </div>
        <div class="col-2 d-flex align-items-start feature">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-check"><use xlink:href="#check"/></svg></button>
            </div>
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-x"><use xlink:href="#x"/></svg></button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Educacion Area -->
