<!-- Inicio Proyectos Area -->
<div class="container" id="proyectos">
    <div class="album py-5 bg-light">
        <h2 class="pb-2 border-bottom">Proyectos</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3 proyect">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="./assets/img/ahorcado.png" alt="ahorcado" class="proyecto1">
                    <div class="card-body">
                        <p class="card-text">Este programa llamado "Juego del Ahorcado" fue desarrollado para el Challeger Oracle Logica de Programacion Alura-Oracle One</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-info" href="https://edicoronel.github.io/Reto-juego-del-Ahorcado/" target="_blank" role="button">Ver</a>
                                <a class="btn btn-outline-info" href="https://github.com/EdiCoronel/Reto-juego-del-Ahorcado" target="_blank" role="button">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="./assets/img/encriptador.png" alt="encriptador" class="proyecto2">
                    <div class="card-body">
                        <p class="card-text">Este programa llamado "Encriptador" fue desarrollado para el Challeger Oracle Logica de Programacion Alura-Oracle One</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-info" href="https://edicoronel.github.io/challenge-oracle-decoder/" target="_blank" role="button">Ver</a>
                                <a class="btn btn-outline-info" href="https://github.com/EdiCoronel/challenge-oracle-decoder" target="_blank" role="button">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="./assets/img/Concepto_Li.png" alt="concepto_li" class="proyecto3">
                    <div class="card-body">
                        <p class="card-text">Esta Pagina Web fue creada para el empredimiento Concepto Li</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-info" href="https://edicoronel.github.io/ConceptoLi-1/" role="button" target="_blank">Ver</a>
                                <a class="btn btn-outline-info" href="https://github.com/EdiCoronel/ConceptoLi-1" target="_blank" role="button">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="./assets/img/Edi_port.png" alt="edi_port" class="proyecto4">
                    <div class="card-body">
                        <p class="card-text">Este Portfolio Personal fue desarrollado para el Challeger Alura-Oracle One Front-End</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-info" href="https://edicoronel.github.io/Alura-Challenger-Front-End/" target="_blank" role="button">Ver</a>
                                <a class="btn btn-outline-info" href="https://github.com/EdiCoronel/Alura-Challenger-Front-End" target="_blank" role="button">GitHub</a>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Proyectos Area -->    
