<!-- Inicio Acerca de.. Area -->
<div class="container py-4">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="content-left wow fadeInLeft">
                <img src="./assets/img/Foto_ediberto.png" class="imagen_edi" alt="#">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 py-4">
            <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                <h2 class="border-bottom">Presentación</h2>
                <p class="py-4">Actualmente deseo incorporarme en el mundo del IT, he realizado estudios en el área de
                testing manual con deseos de continuar a la automatización de pruebas, estoy en proceso
                continuo de aprendizaje de otros lenguajes de programación y desarrollo web
                </p>
            </div>
        </div>
    </div>
</div>
<!-- fin Acerca de.. Area -->
