<!-- Inicio Tecnologias Area -->
<div class="container py-5" id="tecnologias">
    <h2 class="pb-2 border-bottom">Tecnologias</h2>
    <div class="porcentaje">
        <div class="row tarjeta">
            <div class="card">
                <div class="card-body">
                    <a href="https://developer.mozilla.org/es/docs/Web/HTML" class="box" target="_blank">
                        <div class="porcent">
                            <svg class="tarjeta_porcentaje">
                                <circle cx="70" cy="70" r="70"/>
                                <circle cx="70" cy="70" r="70"/>
                            </svg>
                        <div class="number">
                            <h2>80<span>%</span></h2>
                        </div>
                        <h3 class="text">HTML</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card ">
                <div class="card-body">
                    <a href="https://developer.mozilla.org/es/docs/Web/CSS" class="box" target="_blank">
                        <div class="porcent">
                            <svg class="tarjeta_porcentaje">
                                <circle cx="70" cy="70" r="70"/>
                                <circle cx="70" cy="70" r="70"/>
                            </svg>
                        <div class="number">
                            <h2>70<span>%</span></h2>
                        </div>
                        <h3 class="text">CSS</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" class="box" target="_blank">
                        <div class="porcent">
                            <svg class="tarjeta_porcentaje">
                                <circle cx="70" cy="70" r="70"/>
                                <circle cx="70" cy="70" r="70"/>
                            </svg>
                        <div class="number">
                            <h2>50<span>%</span></h2>
                        </div>
                        <h3 class="text">JavaScript</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="porcentaje">
        <div class="row tarjeta">
            <div class="card">
                <div class="card-body">
                    <a href="https://www.mysql.com/" target="_blank" class="box">
                        <div class="porcent">
                            <svg class="tarjeta_porcentaje1">
                                <circle cx="70" cy="70" r="70"/>
                                <circle cx="70" cy="70" r="70"/>
                            </svg>
                        <div class="number">
                            <h2>60<span>%</span></h2>
                        </div>
                        <h3 class="text">MySQL</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card ">
                <div class="card-body box">
                    <a href="https://www.python.org/" target="_blank" class="box">
                        <div class="porcent">
                            <svg class="tarjeta_porcentaje1">
                                <circle cx="70" cy="70" r="70"/>
                                <circle cx="70" cy="70" r="70"/>
                            </svg>
                        <div class="number">
                            <h2>40<span>%</span></h2>
                        </div>
                        <h3 class="text">PYTHON</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body box">
                    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa/testing" target="_blank" class="box">
                        <div class="porcent">
                            <svg class="tarjeta_porcentaje1">
                                <circle cx="70" cy="70" r="70"/>
                                <circle cx="70" cy="70" r="70"/>
                            </svg>
                        <div class="number">
                            <h2>80<span>%</span></h2>
                        </div>
                        <h3 class="text">QA Testing</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>   
<!-- Fin Tecnologias Area -->
