<!-- Inicio Experiencia Area -->
<div class="container px-4 py-5" id="experiencia">
    <h2 class="pb-2 border-bottom">Experiencia Laboral</h2>
    <div class="row g-4 py-4 cols-1 cols-lg-2">
        <div class="col-2 d-flex align-items-start">
            <div>
            <a href="https://www.pintureriasogus.com.ar/" target="_blank"><img src="./assets/img/ogus_logo.jpg" alt="Ediberto_banner" class="img-fluid rounded-3" style="width: 100%; height: 100%;"></a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
            <h3 class="fs-2">Pinturerias Ogus S.A.</h3>
            <h5>Ventas a Empresas</h5>
            <p>Venta a clientes corporativos. Recuperación de clientes
                inactivos. Controlar, medir y trabajar la calidad de gestión,
                elaborando planes de acción y seguimiento, generando reportes
                de la gestión. Generar vínculos comerciales, participar
                activamente en los procesos licitatorios y en la cotización,
                negociación y cierre de negocios con potenciales clientes.
                </p>
            </div>
        </div>
        <div class="col-2 d-flex align-items-start feature">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-check"><use xlink:href="#check"/></svg></button>
            </div>
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-x"><use xlink:href="#x"/></svg></button>
            </div>
        </div>
    </div>
    <div class="row g-4 py-4 cols-1 cols-lg-2">
        <div class="col-2 d-flex align-items-start">
            <div>
            <a href="https://www.invap.com.ar/" target="_blank"><img src="./assets/img/invap_logo.jpg" alt="Ediberto_banner" class="img-fluid rounded-3" style="width: 100%; height: 100%;"></a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
            <h3 class="fs-2">INVAP S.E.</h3>
            <h5>Supervisor</h5>
            <p>Responsable de controlar la correcta fabricación de piezas de montaje. Control de continuidad, aislación, corte y entrega de cables eléctricos mediante la verificación de planos y materiales, cumpliendo de las especificaciones del cliente para su correcta instalación</p>
            </div>
        </div>
        <div class="col-2 d-flex align-items-start feature">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-check"><use xlink:href="#check"/></svg></button>
            </div>
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-x"><use xlink:href="#x"/></svg></button>
            </div>
        </div>
    </div>
    <div class="row g-4 py-4 cols-1 cols-lg-2">
        <div class="col-2 d-flex align-items-start">
            <div>
            <a href="https://ve.epaenlinea.com/" target="_blank"><img src="./assets/img/Escorpion-EPA-1170x381.jpg" alt="Ediberto_banner" class="img-fluid rounded-3" style="width: 100%; height: 100%;"></a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
            <h3 class="fs-2">Ferreteria EPA S.A.</h3>
            <h5>Asesor de Ventas</h5>
            <p>Departamentos de iluminación, pintura, cocinas, servicios puertas y maderas: asesoría al cliente según 6 pasos para la venta, recepción de mercancía en área de ventas, surtido de mercancía según criterio FIFO, almacenaje de mercancía en paletas y manual, conteos mensuales para control de inventario, toma física de inventario general anual.</p>
            </div>
        </div>
        <div class="col-2 d-flex align-items-start feature">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-check"><use xlink:href="#check"/></svg></button>
            </div>
            <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-circle d-inline-flex align-items-center justify-content-center"><svg width="20" height="20" fill="currentColor" class="bi bi-x"><use xlink:href="#x"/></svg></button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Experiencia Area -->
